<%= form_with(model: pokemon_trainer, local: true) do |form| %>
  <% if pokemon_trainer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pokemon_trainer.errors.count, "error") %> prohibited this pokemon_trainer from being saved:</h2>

      <ul>
      <% pokemon_trainer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
